body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding-bottom: 130px;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
.tovar{
    display:flex;   
}
.tovar img{
    top:20px;
    width: 40px;
    height: 40px;
}
.tovarr{
    display: flex;
}
.tovarr  img{
    top:20px;
    width: 40px;
    height: 40px;
}
.tovarrr{
    display: flex;
}
.tovarrr  img{
    top:20px;
    width: 40px;
    height: 40px;
}
.tovarrrr{
    display: flex;
}
.tovarrrr  img{
    top:20px;
    width: 40px;
    height: 40px;
}
.tovarrrrr{
    display: flex;
}
.tovarrrrr  img{
    top:20px;
    width: 40px;
    height: 40px;
}
.tovari{
    display: flex;
}
footer img{
    width: 90px;

    height: 50px;}
article img {
    border-radius: 50px;
}
